.todo-button{
    button{
        margin-top:10px;
        padding:10px 5px;
        margin-left:10px;
        border-radius: 4px;
        border:2px solid rgb(11, 201, 11);
        color:rgb(11, 201, 11);

        &:enabled {
            color:rgba(255, 255, 255, 0.774);
            background-color: rgb(29, 228, 29);
        }
        &:hover {
            color:white;
            background-color: rgb(0, 230, 38);
        }
    }
}